<div class="flex flex-col justify-center items-center min-h-screen">
  <h1 class="font-kaisei text-2xl sm:text-3xl font-bold mb-10 flex justify-center mt-15"><%= current_user.name %>さんのプロフィール</h1>
  <div class="card w-64 sm:w-96 md:w-80 bg-base-100 shadow-2xl mb-10 animate-tilt-in-top-1">
    <div class="card-body items-center text-center text-base-content">
      <%= image_tag current_user.avatar.url, class: "w-24 rounded-full ring ring-neutral-500/50 ring-offset-base-100 ring-offset-2", size: '100x100' %>
      <h2 class="card-title mt-4"><%= current_user.name %></h2>
      <p>メールアドレス: <%= current_user.email %></p>
      <div class="card-actions justify-center">
        <%= link_to "編集", edit_user_path(@user), class:"btn btn-outline btn-neutral bg-primary/20 btn-sm mt-2 hover:shadow-sm hover:translate-y-0.5 transform transition" %>
      </div>
    </div>
  </div>
</div>


<div class="flex flex-col w-full">
  <div class="divider"></div>
</div>
<br>

<h1 class="font-kaisei text-2xl sm:text-3xl font-bold mb-10 flex justify-center mt-5"><%= current_user.name %>さんの小話一覧</h1>

<% if @user.jokes.any? %>
  <div class="mt-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-8 gap-x-36 animate-tilt-in-top-1">
    <% @user.jokes.each do |joke| %>
      <div class="joke-item flex justify-center">
      <%= render partial: "jokes/joke", locals: { joke: joke } %>
      </div>
    <% end %>
  </div>
  <div class="mt-20 mb-20 flex justify-center mt-10">
    <%= paginate @jokes %>
  </div>
<% else %>
  <div class="flex items-center justify-center py-10">
    <p>小話がまだ投稿されてないで！</p>
  </div>
<% end %>
