<div class="navbar bg-gray-950 text-yellow-200">
  <div class="flex-1">
    <%= link_to root_path, class: 'btn btn-ghost text-xl text-gray-200' do %>
      <%= image_tag 'lip.png', class: 'w-12 h-12' %>
    <% end %>
  </div>
  <div class="flex-none">
    <%= link_to t('header.joke_index'), jokes_path, class: 'btn btn-ghost text-sm font-normal' %>
    <%= link_to t('header.signup'), new_user_path, class: 'btn btn-ghost text-sm font-normal' %>
    <%= link_to t('header.login'), login_path, class: 'btn btn-ghost text-sm font-normal' %>
  </div>
</div>