<div class="navbar bg-violet-200 text-neutral-content">
  <div class="flex-1">
    <%= link_to '笑えわらい', root_path, class: 'btn btn-ghost text-xl text-gray-800' %>
  </div>
  <div class="flex-none">
    <%= link_to t('header.joke_index'), jokes_path, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
    <%= link_to t('header.new_joke'), new_joke_path, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
    <%= link_to t('header.mypage'), user_path(current_user), class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
    <%= button_to t('header.logout'), logout_path, method: :delete, class: 'btn btn-ghost text-sm text-gray-800 font-normal' %>
  </div>
</div>