<div class="card w-64 sm:w-96 md:w-80 h-full bg-white text-base-content p4 rounded-lg drop-shadow-2xl">
  <div class="card-body p-8 text-center">
    <p class="card-text text-sm"><strong>テーマ:</strong> <%= joke.theme %></p>
    <p class="text-sm font-bold">"<%= joke.title %>"</p>
    <%= link_to "https://twitter.com/intent/tweet?url=#{request.original_url}&text=【おばちゃんに面白い小話を聞いてみた！〜EVERYDAY JOKE SHOW〜】%0a%0a#{joke.title}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: joke.title do %>
        <%= image_tag 'logo-black.png', class: 'w-5 h-5 ml-2' %>
    <% end %>
    <div class="border-t border-dotted border-2 border-blue-800 my-2"></div>
    <p class="card-text text-xs"><%= joke.content %></p>
    <div class="border-t border-dotted border-2 border-blue-800 my-2"></div>
    <div class="flex justify-between items-center mt-2">
      <div class="flex items-center">
        <%= image_tag (joke.user.avatar? ? joke.user.avatar.url : 'default_avatar.png'), class: "w-8 h-8 rounded-full ring ring-neutral-500/50 ring-offset-base-100 ring-offset-2 mr-2"%>
        <p class="text-base font-semibold"><%= joke.user.name %></p>
      </div>
      <% if joke.user == current_user %>
        <div class="flex space-x-8">
          <%= link_to edit_joke_path(joke) do %>
            <i class="fas fa-edit fa-lg"></i>
          <% end %>
          <%= link_to joke_path(joke), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } do %>
            <i class="fas fa-trash fa-lg"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
