<div class="card w-64 sm:w-96 md:w-80 h-full bg-blue-200 text-base-content p4 rounded-lg drop-shadow-md">
  <div class="card-body p-8 text-center">
    <p class="card-text text-xs"><strong>テーマ:</strong> <%= joke.theme %></p>
    <p class="text-sm font-bold"><%= joke.title %></p>
    <div class="border-t border-dotted border-2 border-blue-800 my-2"></div>
    <p class="card-text text-xs"><%= joke.content %></p>
    <div class="border-t border-dotted border-2 border-blue-800 my-2"></div>
    <p>by <%= joke.user.name %></p>
    <% if joke.user == current_user %>
      <div class="card-actions justify-center">
        <%= link_to "編集", edit_joke_path(joke), class: "btn btn-outline btn-neutral bg-primary/20 btn-sm mt-2" %>
        <%= link_to "削除", joke_path(joke), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "btn btn-outline btn-neutral bg-primary/20 btn-sm mt-2" %>
      </div>
    <% end %>
  </div>
</div>