<div class="flex flex-col justify-center items-center min-h-screen">
  <h3 class="text-3xl font-bold mb-10">タイトルを入力してください</h3>
  <%= render partial: 'joke_detail', locals: { joke: @joke } %>
  <div class="mt-7">
    <%= form_with model: @joke, url: joke_path(@joke), method: :patch, local: true do |form| %>
      <div class="mb-8 mt-8 justify-center items-center">
        <%= form.label :title, "ぴったりなタイトルをつけてや！" %>
        <br>
        <%= form.text_field :title, class: "input input-bordered w-full max-w-xs mt-4", placeholder: "1字〜20字以内にしてな" %>
      </div>
      <div>
        <%= form.submit "タイトルを保存する", class: 'btn btn-outline btn-neutral text-gray-700 hover:text-gray-100 mt-4 mb-10 ml-5' %>
      </div>
    <% end %>
  </div>
</div>
