<div class="flex flex-col justify-center items-center min-h-screen bg-gray-950 text-yellow-200 p-6">
  <h3 class="font-kaisei text-xl sm:text-3xl font-bold mb-20">タイトルを決めてや！</h3>
  <%= render partial: 'joke_detail', locals: { joke: @joke } %>
  <div class="mt-7">
    <%= form_with model: @joke, url: joke_path(@joke), method: :patch, local: true do |form| %>
      <div class="mb-8 mt-8 justify-center items-center font-medium">
        <%= form.label :title, "ぴったりなタイトルって...なんやと思う？" %>
        <br>
        <%= form.text_field :title, class: "input input-bordered w-full max-w-xs mt-4 text-gray-700", placeholder: "1字〜20字以内にしてな!" %>
      </div>
      <div>
        <%= form.submit "タイトルを保存", class: 'btn btn bg-green-300 text-gray-900 hover:bg-green-500 mt-8 text-ml w-full hover:shadow-sm hover:translate-y-0.5 transform transition' %>
      </div>
    <% end %>
  </div>
</div>
