<!DOCTYPE html>
<html data-theme="nord" lang="ja">
  <head>
    <title>EVERYDAY JOKE SHOW</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

    <%= favicon_link_tag image_path('lip.png'), type: 'image/png' %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@anb8u7cdJG77310" />
    <meta name="twitter:domain" content="joke-maker.onrender.com" />
    <meta name="twitter:title" content="EVERYDAY JOKE SHOW" />
    <meta name="twitter:description" content="思わず笑ってしまう?!AIが作る日常の小話集" />
    <meta name="twitter:image" content="<%= request.base_url + image_path('ogp.png') %>" />
  </head>

  <body class = "font-noto bg-gray-800 text-yellow-200 flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
    <main class="flex-grow">
    <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
